.App {
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
}

.container {
	padding: 0 2rem;
	flex-grow: 1;
	padding-bottom: 10rem;
	display: flex;
	flex-direction: column;
}

.btn {
	font-size: var(--fs-400);
	padding: 1em 2em;
	font-family: var(--ff-display);
	background: hsl(var(--clr-dark));
	color: white;
	outline: none;
	border: none;
	transition: 0.2s all;
}

.btn:hover {
	cursor: pointer;
	opacity: 0.8;
}

.btn:active {
	transform: scale(0.97);
}

.heading {
	text-align: center;
	font-size: var(--fs-700);
	margin: 0.5em 0;
	font-family: var(--ff-display);
}

.subheading {
	font-size: var(--fs-600);
	font-weight: 500;
	font-family: var(--ff-display);
}

.title {
	font-family: var(--ff-display);
}

.message--box {
	padding: 1em 0;
	align-self: center;
}
.message--text {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.container {
		padding: 0 4rem;
		flex-grow: 1;
		padding-bottom: 8rem;
	}
}
