.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 4rem;
	background-color: hsl(var(--clr-light));
	font-family: var(--ff-display);
}

.nav__footer {
	font-size: var(--fs-200);
	gap: 4em;
}
