.hero {
	height: 500px;
	width: 100vw;
	position: relative;
	left: -2rem;
	background: black;
}

.hero__image {
	height: 500px;
	width: 100%;
	background-position: center;
	object-fit: cover;
	opacity: 0.8;
}

.hero__text {
	color: white;
	font-size: var(--fs-700);
	font-weight: 600;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	padding: 2em 0;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	.hero {
		left: -4rem;
	}
}
