.hero {
	height: 500px;
	width: 100vw;
	position: relative;
	left: -4rem;
}

.hero__image {
	height: 500px;
	width: 100%;
	background-position: center;
	object-fit: cover;
}

.hero__button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.categories {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	padding: 2em 0;
	justify-content: center;
}
