.navbar__upper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 4rem;
	border-bottom: 1px solid hsl(var(--clr-light) / 0.5);
}

.navbar__lower {
	display: flex;
	justify-content: center;
	padding: 0.5em 2rem;
	border-bottom: 1px solid hsl(var(--clr-light) / 0.5);
}
.logo {
	display: flex;
	align-items: center;
}

.navbar__logo:hover {
	cursor: pointer;
}

.nav {
	display: flex;
	list-style: none;
	gap: 4em;
	font-size: var(--fs-400);
}

.nav__item a {
	text-decoration: none;
	display: flex;
	align-items: center;
}

.nav__item--cart {
	font-size: 2.5rem;
	position: relative;
}

.nav__item--badge {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -30%);
	color: white;
	font-size: var(--fs-200);
	font-weight: 200;
}
