.Product__content {
	padding: 2em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Product__img {
	object-fit: cover;
}

.Product__info {
	display: flex;
	flex-direction: column;
}

.Product__options {
	display: flex;
	flex-direction: column;
	margin: 2em 0;
}

.Product__variants {
	display: flex;
	gap: 0.5em;
}

.Product__variant--btn {
	border: none;
}

.Product__variant--btn:hover {
	cursor: pointer;
}

.disabled:hover {
	cursor: initial;
}

.img--disabled {
	border: 2px solid hsl(var(--clr-dark));
	opacity: 0.6;
}

.Product__img--thumbnail {
	width: 50px;
	object-fit: cover;
}

.Product__description {
	margin-top: 1.5em;
	padding-top: 1.5em;
	border-top: 1px solid hsl(var(--clr-light));
}

.btn--cart {
	align-self: stretch;
}

.Product__confirmation {
	text-align: center;
	padding: 0.5em 0;
	font-size: var(--fs-200);
}

@media screen and (min-width: 768px) {
	.Product__content {
		flex-direction: row;
		gap: 2em;
	}

	.Product__img {
		max-height: none;
		width: 40%;
	}

	.Product__info {
		width: 35%;
	}

	.Product__description {
		margin-top: 2em;
		padding-top: 2em;
		max-width: 90%;
	}

	.btn--cart {
		align-self: flex-start;
	}

	.Product__confirmation {
		text-align: left;
		padding: 0.5em 0 0 0.25em;
	}
}
