@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--clr-dark: 129, 41%, 16%;
	--clr-light: 106, 33%, 90%;
	--clr-neutral: 51, 91%, 95%;

	--fs-900: 9.375rem;
	--fs-800: 6.25rem;
	--fs-700: 3.5rem;
	--fs-600: 2rem;
	--fs-500: 1.75rem;
	--fs-400: 1.125rem;
	--fs-300: 1rem;
	--fs-200: 0.875rem;

	--ff-sans-normal: "Poppins", sans-serif;
	--ff-display: "Syne", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	line-height: 1.6;
}

img {
	max-width: 100%;
	display: block;
}

button {
	font-family: var(--ff-display);
}

a {
	text-decoration: none;
	color: inherit;
	font-family: var(--ff-display);
}
